@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body, html {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: #222;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    border-radius: 50%;
}


.nav-link {
    font-size: 1.3em !important;
    margin-left: 20px;
}

.carousel-inner {
    height: 500px;
}

.carousel-inner img {
    height: 100%;
    transform: translateY(-30%);
}

@media (min-width: 1100px) {
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    text-shadow: 1px 1px 10px #000;
}

@media (max-width: 450px) {
    .carousel-caption .display-2 {
        font-size: 3em;
    }
}

.jumbotron {
    padding: 1em;
    border-radius: 0;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.padding {
    padding-bottom: 2em;
}

.alert {
    width: 75%;
    margin: 0 auto;
    padding-top: 2em;
}

.alert hr {
    border-top: 2px solid #f0f0f0;
    width: 95%;
    margin-top: 0.3em;
    margin-bottom: 1em;
}

.fa-code {
    color: #e54d26
}

.fa-bold {
    color: #563d7c
}

.fa-css3 {
    color: #2163af
}

.fa-code, .fa-bold, .fa-css3 {
    font-size: 4em;
    margin: 1em;
}

#fixed {
    height: 400px;
    border-top: 4px solid #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
    background: url("../img/bg.jpg") no-repeat center center fixed;
    background-blend-mode: multiply;
    background-color: #437AB8;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

#gifsBtn {
    margin-bottom: 20px;
}

#gifs img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
}

@media (max-width: 750px) {
    .display-4 {
        font-size: 1.5em;
    }
}

.card {
    width: 100%;
    height: 100%;
}

.personage_story {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 15%;
}

.social a {
    font-size: 4em;
    padding: 20px;
}

.fa-facebool {
    color: #3b5998
}

.fa-instagram {
    color: #517fa4
}

.fa-twitter {
    color: #00aced
}

.fa-youtube {
    color: #bb0000
}

.fa-google-plus-g {
    color: #dd4b39
}

.fa-facebool:hover {
    color: #02102B
}

.fa-instagram:hover {
    color: #D574E2
}

.fa-twitter:hover {
    color: #0900FF
}

.fa-youtube:hover {
    color: #FD7F7F
}

.fa-google-plus-g:hover {
    color: #FF1509
}

footer {
    background-color: #3A364A !important;
    padding-top: 20px;
    border-top: 4px solid black;
    color: white;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#recall {
    margin-left: 20px;
}

.card {
    width: 99%;
    margin: 1%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-header {
    background-color: #CBCDE9;
}

.card-body_1 {
    background-color: #D0F261;
}

#teams img {
    width: 100%;
    max-height: 350px;
}

#about_us {
    text-align: center;
}

#card-text_us {
    font-size: 2em;
    color: #2368E9;
}

#card-text_us_1 {
    font-size: 2em;
    color: #CB111D;
}

#card-text_us_2 {
    font-size: 2em;
    color: black;
}

#card-text_us_3 {
    font-size: 2em;
    color: #F77402;
}