/* Стили для кнопки вверх */
.text-block {
    width: 250px;
    margin: 50px;
}

#go-top {
    font-weight: 600;
    font-size: 3em;
    position: fixed;
    font-family: "Arial", sans-serif;
    line-height: 55px;
    text-align: center;
    color: black;
    bottom: 55px;
    right: 10px;
    cursor: pointer;
    display: none;
    width: 50px;
    height: 50px;
    background: yellow;
    border-radius: 10px;
    margin-right: 25px;
}

#go-top:hover {
    background: orange;
}
